NODE_ENV=development
PORT=5000

DATABASE_URL="postgresql://neondb_owner:"

#urls
FRONTEND_URL=http://localhost:3000

# Better Auth configuration
BETTER_AUTH_SECRET=your better auth secret key here
BETTER_AUTH_URL=http://localhost:5000 # Base URL of your app


#JWT configuration
ACCESS_TOKEN_SECRET=accesstokentsectet
REFRESH_TOKEN_SECRET=refreshtokensectet
ACCESS_TOKEN_EXPIRES_IN=1d
REFRESH_TOKEN_EXPIRES_IN=7d

#verifying email configuration
EMAIL_SENDER_SMTP_USER=example@email
EMAIL_SENDER_SMTP_PASS=email sender password
EMAIL_SENDER_SMTP_HOST=smtp.gmail.com
EMAIL_SENDER_SMTP_PORT=465
EMAIL_SENDER_SMTP_FROM=example@email


#cloudinary configuration
CLOUDINARY_CLOUD_NAME=your cloudinary cloud name here
CLOUDINARY_API_KEY=3243254353 //your cloudinary api key here
CLOUDINARY_API_SECRET=dsfdsjbfhbdshj //your cloudinary api secret here


#env for seed admin
ADMIN_EMAIL=afnansayed.intern@gmail.com
ADMIN_PASSWORD=admin1234
ADMIN_NAME=Afnan sayed Razin

# stripe credentilas
STRIPE_SECRET_KEY=stripe secret key here
STRIPE_WEBHOOK_SECRET=stripe webhook secret key here